
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

/* global */
html, body {
    height: 100vh;
    margin: 0;
}

body {
    background-color: #222;
    background-image: url(../images/bg_geo.png);
    background-position: 35% 60%;
    background-size: 129% 120%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

/* content */
.layout-content {
    color: #333;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 10px;
    background-color: #fff;
    min-height: 100vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

h1, h2 {
    color: inherit;
    font-family: 'Anton', 'Impact', sans-serif;
    margin-top: 0px;
    border-bottom: 6px solid #fe3d3d;
    display: inline-block;
    line-height: 40px;
}

h2 a {
    text-decoration: none;
    color: #333;
}

/* header */
.header-content {
    margin: 2rem 2% 0 3%;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.header-content img {
    margin-left: 5%;
}

@media only screen and (max-width: 950px) {
    .header-content {
        flex-direction: column;
    }
    #block-bowl-branding {
        display: flex;
    }
}

/* Footer */
footer {
color: #ffffff;
padding: 20px;
background-color: #212121;
width: 85%;
margin-left: auto;
margin-right: auto;
margin-bottom: 0;
margin-top: 0;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.footer-content nav li {
    list-style: square;
    color: #ff3e3e;
}

.footer-content nav ul li a {
    color: white;
    border-bottom: 1px dashed #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

@media only screen and (max-width: 950px) {
    footer .footer-content {
        flex-direction: column;
        text-align: center;
    }
}

/* nav */
#block-bowl-main-menu, .nav-main-menu li, .nav-main-menu {
    display: flex;
}

.nav-main-menu li:last-of-type a {
    padding-right: none;
}

.nav-main-menu li a {
    padding-right: 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-main-menu li a:before {
    content: "• ";
    font-size: 25px;
    vertical-align: -3px;
    color: #222;
    transition: 350ms
}

.nav-main-menu li a:hover:before, .nav-main-menu li a.is-active:before {
    content: "• ";
    font-size: 25px;
    vertical-align: -3px;
    color: #fe3d3d;
    transition: 350ms
}

.nav-main-hamburger {
    display: none;
}

@media only screen and (max-width: 950px) {
    .nav-main-menu {
        display: none;
    }
    .nav-main-hamburger {
        display: flex;
        color: #fff;
        align-self: center;
        margin-left: auto;
        cursor: pointer;
        background-color:#ff3e3e;
        padding: 10px;
        border-radius: 0.3rem;
    }
    .nav-main-menu.show-menu {
        display: flex;
        flex-direction: column;
    }
}

/* fontpage-feature */
.frontpage-feature-row:not(:first-child) {
    margin-top: 40px;
}

.frontpage-feature-row .layout__region--second {
    text-align: center;
}

.frontpage-feature-row .layout__region--first {
    margin-bottom: 15px;
}

.frontpage-feature-row img {
    border-radius: 0.3rem;
}

.frontpage-feature-row a {
    background-color: #ff3e3e;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 0.3rem;
    transition: 350ms;
}

.frontpage-feature-row a:hover {
    background-color: #c80e0e;
    transition: 350ms;
}

@media only screen and (max-width: 600px) {
    .frontpage-feature-row {
        text-align: center;
    }
}