
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

html, body {
    height: 100vh;
    margin: 0;
}

body {
    background-color: #222;
    background-image: url(../images/bg_geo.png);
    background-position: 35% 60%;
    background-size: 129% 120%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

a {
    color: #ff3e3e;
}