.layout-content {
    color: #333;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-top: 10px;
    background-color: #fff;
    min-height: 100vh;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

h1, h2 {
    color: inherit;
    font-family: 'Anton', 'Impact', sans-serif;
    margin-top: 0px;
    border-bottom: 6px solid #fe3d3d;
    display: inline-block;
    line-height: 40px;
}

h2 a {
    text-decoration: none;
    color: #333;
}