footer {
    color: #ffffff;
    padding: 20px;
    background-color: #212121;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    }
    
    footer .footer-content {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .footer-content nav li {
        list-style: square;
        color: #ff3e3e;
    }
    
    .footer-content nav ul li a {
        color: white;
        border-bottom: 1px dashed #ffffff;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    @media only screen and (max-width: 950px) {
        footer .footer-content {
            flex-direction: column;
            text-align: center;
        }
    }