.header-content {
    margin: 2rem 2% 0 3%;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.header-content img {
    margin-left: 5%;
}

@media only screen and (max-width: 950px) {
    .header-content {
        flex-direction: column;
    }
    #block-bowl-branding {
        display: flex;
    }
}